/* Navbar */
.navbar {
  background-color: #b7b7a4;
}

.navbar-brand {
  display: flex;
  align-items: center;
  margin: 0.5em;
}

/* Itinerary Form */
.form {
  border: 2px solid #a5a58d;
  background-color: #a5a58d;
  border-radius: 10px;
  width: 25vw;
  height: auto;
  margin: 5em 10em;
  text-align: center;
  padding: 1em;
}

.form-row,
.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.5em;
}
